.App {
  font-family: sans-serif;
  text-align: center;
}

.videoPlayer {
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
}
.videoLink {
  width: 90%;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
}
.butChange {
  width: 150px;
  margin: auto;
  margin-top: 4px;
  padding: 8px;  
  cursor: "pointer";
  border-radius: 8px;
  background-color: chocolate;
  color: white;
}
